
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
.Columnas {
  padding-bottom: 2rem;
  margin-top: 10px;
  * {
    box-sizing: border-box;
    margin: 0;
  }
  .borde {
    /*
    background-color: rgb(55, 80, 112);
    background: rgba(55, 80, 112,1);
    background: -moz-radial-gradient(center, ellipse cover, rgb(70, 77, 87)rgba(55, 80, 112,1) 0%, rgb(26, 39, 56) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(26, 39, 56)), color-stop(100%,rgb(26, 39, 56)));
    background: -webkit-radial-gradient(center, ellipse cover,rgb(70, 77, 87) 0%, rgb(26, 39, 56) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgb(70, 77, 87) 0%, rgb(26, 39, 56) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgb(70, 77, 87) 0%, rgb(26, 39, 56) 100%);
    background: radial-gradient(ellipse at center, rgb(70, 77, 87) 0%, rgb(26, 39, 56) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4881ea', endColorstr='#1f5be5', GradientType=1 );
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px double black;*/
    
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 4rem;
    margin-right: 4rem;
    
    
  }
  #TextoC {
    font-size: 17px;
    line-height: 1.333333334;
    color: white;
    font-family: "Quicksand", sans-serif;
    text-align: justify;
  }
  .three-columns {
    margin-left: 4rem;
    margin-right: 4rem;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  .What {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color:rgb(255, 251, 0);
    padding-top: 10px;  
    padding-bottom: 10px;
    padding-left:12px ;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
