.ir-arriba {
  display: none;
  padding: 20px;
  background-color: rgb(255, 230, 0);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 8px;

  border-radius: 200px 200px 10px 200px;
  -moz-border-radius: 200px 200px 10px 200px;
  -webkit-border-radius: 200px 200px 10px 200px;
  border: 0px solid #000000;
}
