@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');

.card {
    position: relative;
    top:10px;
    width: 30%;
    font-family: 'Abril Fatface', cursive;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .5); 
    text-align: center;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: grey;

    &-body {
        > button {
            color: #fff;
            background: black;
            transition: all 0.3s ease;
            padding: 10px 60px; 
            font-family: 'Abril Fatface', cursive;
            &:hover {
                background: #ccc;
                color: #000;
            }
        }   
    } 
    
    &:hover {
        background: #d7d7d7;
        opacity: 1;
    }
}

.card-link {
    color: white;
}

.banner {
    margin-top: 30px;
    margin-bottom: 30px;

    &-cards {
        display: flex;
        align-items: self-start;
        justify-content: space-between;
    }
    &-text {
        color: white;
        margin-bottom: 45px;
    }
}

.modal-content {
    text-align: justify;
}   