.card1 {
        width: 600px;
        height: 340px;
        margin: 0 auto; 
        position: relative;
        -webkit-perspective: 1000;
          -moz-perspective: 1000;
          perspective: 1000;
          -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d; 
        transform-style: preserve-3d;
        -webkit-perspective-origin: right;
        -moz-perspective-origin: right;
        perspective-origin: right;
}