/* Main Footer */
.CompanyTitulo{
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
.insta{
  color: white;
}
.hr-3{ 
  background-color: gray;
  border:         none;
  border-left:    1px solid hsla(200, 10%, 50%,100);
  height:         40vh;
  width:          1px;       
}
footer .main-footer {
  padding: 30px 0;
  background: #252525;
}
footer ul {
  padding-left: 0;
  list-style: none;
}
.footer-top {
  background: #252525;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
  background: transparent;
}
footer.transparent .footer-copyright {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

.widget {
  padding: 50px;
  margin-bottom: 40px;
}
.widget.widget-last {
  margin-bottom: 0px;
}
.widget.subscribe p {
  margin-bottom: 18px;
}
.widget li a {
  color: #ff8d1e;
}
.widget li a:hover {
  color: #4b92dc;
}
.widget-title {
  margin-bottom: 20px;
}

.typo{
  color:white;
}
.widget-title{
  color: white;
}
ul.social-footer2 {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.social-footer2 li {
  display: inline-block;
  padding: 0;
}
ul.social-footer2 li a:hover {
  background-color: #4974c5;
}
