@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
.container-form{
    display: flex;
    justify-content: center;
    align-content: center;
}
.form-group {
    margin-bottom: 2rem;
}
.form-horizontal{
    width: 700px;
    padding-bottom: 2rem;
}
.title {
    position: relative;
    top: 4vh;
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}
.form-contr {
    width: 100%;
    position: relative;
    top: 3vh;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: rgb(59, 75, 87);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-cont {
    width: 100%;
    position: relative;
    top: 3vh;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: rgb(59, 75, 87);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-controls {
    width: 100%;
    position: relative;
    top: -1vh;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: rgb(59, 75, 87);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-contrC {
    width: 100%;
    position: relative;
    top: -1vh;
    display: block;
    height: calc(1.5em + .75rem + 35px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    background-color: rgb(59, 75, 87);
    border: 1px solid #ced4da;
 
} :hover {
        border-color: rgb(177, 96, 212);
}
.text {
    color: white;
    size: 20px;
    position: relative;
    top: 4vh;
    
    font-size: 20px;
}
.textE {
    color: white;
    size: 20px;
    position: relative;
    top: -1vh;
   
    font-size: 20px;
}
.textC {
    color: white;
    size: 20px;
    position: relative;
    top: -1vh;
   
    font-size: 20px;
}
.text2 {
    color: white;
    size: 20px;
    position: relative;
    top: 3vh;
    font-size: 20px;
}
.btn-c {
    display: flex;
    justify-content: center;
   
}
.btn{
    position: relative;
    top: -1vh;
    font-size: 20px;
}
.row{
    padding-bottom: 3rem;
}