@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

.title {
    position: relative;
    top: 3vh;
    color:white;
    font-size: 30px;
    text-align: center;
}
.form-control {
    width: 50%;
    position: relative;
    left: 380px;
    top: 3vh;
}
.form-cont {
    width: 50%;
    position: relative;
    top: 3vh;
    left: 15px;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: rgb(77, 146, 192);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.text {
    color: white;
    size: 20px;
    position: relative;
    top: 4vh;
    left: 380px;
}
.btn {
    position: relative;
    top: -5vh;
    left: 1200px;
    font-size: 20px;
}