@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
.header {
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 2;
  background: transparent;
  transition: all 0.5s ease;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    &-1 {
      > h2 {
        transition: all 0.5s;
        margin-top: 10px;
        text-align: left;
        font-family: "Anton";
        font-size: 50px;
        color: white;
      }
    }

    &-2 {
      * {
        margin: 0;
        padding: 0;
      }

      ul {
        list-style-type: none;
      }
      #sub3 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      #sub3 {
        color: white;
        text-decoration: none;
        font-family: "Fjalla One";
      }
      #sub3 li > a {
        transition: all 0.5s ease;
        background-color: transparent;
        color: white;
        padding: 10px 12px;
        display: block;
        text-decoration: none;
        font-size: 18px;
      }
      #sub3 li > a:hover {
        transition: all 0.5s ease;
        color: rgb(41, 44, 48);
      }
      #sub3 > li {
        float: left;
      }
      #sub3 > li:hover > ul {
        display: block;
      }
      #sub3 > li ul {
        position: absolute;
        display: none;
      }

      .item {
        background-color: transparent;
        line-height: 2;
        margin: 1.5em;
        color: #fff;
        position: relative;
      }
      .item:before {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s;
      }
      .item:hover:before {
        width: 100%;
      }
      .uno {
        transition: all 0.55s;
        background-color: rgb(175, 236, 240);
      }
      .uno:before {
        left: 0;
      }
      .dos:before {
        left: 0;
      }
      .tres:before {
        left: 0;
      }
      .cuatro:before {
        left: 0;
      }
    }
  }

  &-active {
    background: rgba(32, 32, 32, 0.363);
    height: 60px;

    .uno {
      transition: all 0.55s;
      background: transparent;
    }

    .header-container-1 > h2 {
      font-size: 40px;
    }
  }
}
