@import url("https://fonts.googleapis.com/css?family=Cuprum&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gudea&display=swap");
.jumbotron1 {
  background-color: rgba(0, 0, 0, 0.212);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  height: 425px;
  text-align: center;
}
.container-jumbotron {
  position: relative;
  overflow: hidden;
  height: 425px;
}
.parallax-container2 {
  position: relative;
  overflow: hidden;
  height: 425px;
}


h3 span {
  font: 26px Monaco, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}