@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');
.jumbotron1 {
    background-image: url("https://img1.goodfon.com/wallpaper/nbig/d/4c/hi-tech-technology-noutbuk.jpg");
    background-size: cover;
    height: 60vh;
   
}

body{
  background-color: rgb(46, 66, 90);
}
>h3 span {
  font: 26px MonoSpace;
  height: 200px;
  position: relative;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.char1 { transform: rotate(6deg); }
.char2 { transform: rotate(12deg); }
.char3 { transform: rotate(18deg); }
.char4{transform: rotate(20deg);}