.jumbotron {
  background-color:rgb(46, 66, 90) ;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .lead{
    color:white;
    font-size: 20px;
  }
}
body{
  background-color: rgb(46, 66, 90);
}