@import "components/carousel";
@import "components/header";
@import "components/parallax.scss";
@import "components/jumbotron";
@import "components/banner.scss";
@import "components/card.scss";
@import "components/Info.scss";
@import "components/footer3.scss";
@import "components/form.scss";
@import "components/Banners.scss";
@import "components/Botonir.scss";
@import "components/preloader.scss";
html {
  scroll-behavior: smooth;
  
}
body {
  overflow-y: hidden;
  background-color: rgb(46, 66, 90);  

}



